/* Reset styles */

.heading {
    margin-top: 100px;
    text-align: center;
    background-color: gray;
}

/* h1,
h2 
{
    margin: 50px;
    padding: 50px;
    display: block;
    text-align: center;
    background-color: gray;
} */

/* .divPadding {
    margin-top: 90px;
    display: inline-block;
} */

/* Global styles */
/* body {
    font-family: Arial, sans-serif;
}

ul {
    list-style: none;
} */
/* 
/* Header styles */
/* header {
    background-color: #fff;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 0 10px;
}

nav li a {
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    transition: all 0.3s ease;
}

nav li a:hover {
    background-color: #f5f5f5;
} */