/* * {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}  */

.navHeader {
    background-color: #222;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
  }
  .navigationHeader {
    padding: 12px;
  }
  
  .navigationHeader ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }
  
  .navigationHeader li  {
    display: inline-block;
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    transition: all 0.3s ease;
  }

  .navigationHeader li a {
    display: block;
    color: #faf7f7;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    transition: all 0.3s ease;    
  }
  
  .navigationHeader li a:hover {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
  }

  .navigationHeader input {
    width: 650px;
    font-size: 16px;
  }

/* CSS */
.button-32 {
  background-color: #ffee00fb;
  color: #000;
  cursor: pointer;
  transition: 200ms;
  box-sizing: border-box;
  font-size: 17px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}